<nav id="menu-sidenav" class="sidenav">
  <div class="sidenav">
    <div id="specials" class="selection">
      Specials
    </div>
    <div id="nav-deli" class="selection">
      <a href="#deli-section">Deli</a>
    </div>
    <div id="nav-grill" class="selection">
      <a href="#grill-section">Grill</a>
    </div>
    <div id="nav-hot-food" class="selection">
      Hot Food Bar
    </div>
    <div id="nav-salad-bar" class="selection">
      Salad Bar
    </div>
    <div id="nav-other" class="selection">
      Drinks & Others
    </div>
  </div>
</nav>

<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>